.news-body {
    padding: 0 2.67vw;
    background-color: rgb(235, 228, 228);

    .page-turner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .page-back {
      margin-right: 3vw;
    }

    .page-forward {
      margin-left: 3vw;
    }
}