.comment-container {
  width: 100%;
  header.container-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5vw;
    background-color: #ee7e3e;
  }
}
